body {
  margin: 0;
  background-color: #333;
}

#mainContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#gridContainer {
  width: 80vw;
  height: 80vw;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(50, 1fr);
  background: #fff;
  padding: 10px;
  border: 5px solid springgreen;
  border-radius: 10px;
  max-width: 550px;
  max-height: 550px;
}

.cell {
  margin: 0px;
  background: transparent;
  /* transition: background 0.1s ease; */
}

.cell:hover {
  background: salmon;
}

.alive {
  background: blueviolet;
  box-shadow: 0 0 5px 0 blueviolet;
}

/* @keyframes rainbow {
  0% {
    background: hsl(calc((360deg / 7) * 1), 100%, 80%);
  }
  14% {
    background: hsl(calc((360deg / 7) * 2), 100%, 80%);
  }
  29% {
    background: hsl(calc((360deg / 7) * 3), 100%, 80%);
  }
  43% {
    background: hsl(calc((360deg / 7) * 4), 100%, 80%);
  }
  57% {
    background: hsl(calc((360deg / 7) * 5), 100%, 80%);
  }
  71% {
    background: hsl(calc((360deg / 7) * 6), 100%, 80%);
  }
  86% {
    background: hsl(calc((360deg / 7) * 7), 100%, 80%);
  }
  100% {
    background: hsl(calc((360deg / 7) * 1), 100%, 80%);
  }
} */
